$base_font_family: Noto Sans, sans-serif; 
$base_font_size: 5em;
$base_font_weight: 700;
$secondary_font_size: 2em;
$secondary_font_weight: 300;



body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}

.custom_navbar{
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0, 0, 0, .8));
    z-index: 1;
}

section{
    height: 100vh;
}

section:nth-child(2) {
    background: black;
}
section:nth-child(3) {
    // background: white;
    background:black
}
section:nth-child(4) {
    background: white;
}
section:nth-child(5) {
    background: red;
}
section:nth-child(6) {
    background: rgb(51, 255, 0);
}

li > a {
    color: white !important;
    font-size: 25px;
    font-weight: 400;
    font-family: $base_font_family;
}

li > button {
    color: black !important;
    .btn_font {
        font-size: 25px;
        font-weight: 400;
    }
}

.section_1{
    background-image: url('../assets/homepage-sky.svg');
    background-repeat: no-repeat;
    background-size: 115%;
    position: relative;

    .custom_nav{
        width: 80%;
        margin-left: 20%;
        justify-content: space-around;
    }

    .img_grass{
        width: 135%;
        position: absolute;
        bottom: -100px;
        right: -275px;
    }

    .img_tree{
        height: 90%;
        position: absolute;
        top: 0;
        left: 460px;
    }

    .bottom_transparent_block{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(14, 13, 13, 0.849));
        z-index: 6;
    }

}

.section_2{
    position:relative;
    
    .section_2_header{
        height: 15%;
        width: 100%;
        background: black;
        z-index: 2;
        position: absolute;

        .section_2_container{
            display: flex;
            justify-content: space-around;
            padding: 25px;
        }
    }

    .img_earth{
        width: 35%;
        margin-left: 75%;
        margin-top: 11%;
    }

    .img_moon{
        width: 8%;
        position: absolute;
        top: 20%;
        right: 35%;
    }

    .img_ufo{
        width: 15%;
        position: absolute;
        left: 55%;
        bottom: 5%;
    }

    .img_stars_1{
        width: 30%;
        position: absolute;
        top: 25%;
        right: 25%;
    }

    .img_stars_2{
        width: 20%;
        bottom: 5%;
        left: 25%;
        position: absolute;
    }

    .section_2_textArea{
        z-index: 3;
        position: absolute;
        height: 50%;
        top: 200px;
        margin-bottom: -16px;
        width: 45%;
        display: flex;
        flex-direction: column;
        margin-left: 40px;


        .section_2_title{
            font-family: $base_font_family;
            font-size: 4.5em;
            line-height: 1em;
            color: white;
            font-weight: $base_font_weight;

            span:first-of-type{
                color: #47C8F4;
                font-style: italic;
            }
        }

        .section_2_text{
            color: white;
            font-family: $base_font_family;
            font-size: $secondary_font_size;
            font-weight: $secondary_font_weight;
        }
    }
    .img_wave{
        position: absolute;
        top: 590px;
    }

    .img_sun{
        width: 45%;
        margin-left: -15%;
        margin-top: -5%;
        position: absolute;
        z-index: 1;
    }
}

.section_3{
    position: relative;

    .img_wave{
        position: absolute;
        top: -20%;
        z-index: 2;
    }

    .section_3_container{
        height: 90vh;
        text-align: left;
        background: white;
        position: absolute;
        width: 100%;
        top: 20%;
        top: 4;
        padding-top: 5%;
        z-index: 2;
    
        p{
            margin-left: 15%;
            color: #19A3D1;
            font-family: $base_font_family;
            font-size: $base_font_size;
            font-weight: $base_font_weight;

            span{
                color: #FFCD55;
            }
        }

        .section_3_text p{
            font-size: 2em;
            color: black;
            font-weight: 200;
        }
    }
}

.section_4{
    position: relative;

    .img_black{
        position: absolute;
        top: -25%;
        z-index: 3;
    }

    .img_method{
       position: absolute;
        z-index: 3;
        width: 50%;
        left: 25%;
        top: 25%;
    }

    .img_water{
        position: absolute;
        width: 35%;
        z-index: 3;
        right: -10%;
        bottom: 30%;
    }

    .img_lightning{
        position: absolute;
        z-index: 3;
        width: 20%;
        top: -35%;
    }
}

.section_5{
    position: relative;
    z-index: 1;

    .img_paint_pink{    
        position: absolute;
        top: -50%;
    }

    .section_5_textArea{
        position: relative;
        color: white;
        margin-left: 5%;

        .section_5_title{
            font-size: $base_font_size;
            font-weight: $base_font_weight;
        }

        .section_5_text{
            width: 40%;
            font-size: $secondary_font_size + 1;
            font-weight: $secondary_font_weight + 100;
        }
    }

    .img_key{
        position: absolute;
        top: 0;
        width: 60%;
        right: 0;
    }
}

.section_6{
    position: relative;

    .section_6_container{
        margin-top: 25%;

         .img_paint_yellow{    
            position: absolute;
            top: -50%;
        }

        .section_6_textArea{
            position: relative;
            color: white;
            margin-top: 35%;
            margin-left: 50%;

            .section_6_title{
                font-size: $base_font_size;
                font-weight: $base_font_weight;
            }

            .section_6_text{
                
                font-size: $secondary_font_size + 1;
                font-weight: $secondary_font_weight + 100;
                padding-left: 20%;
                color: black;
            }
        }

        .img_snake{
            position: absolute; 
            width: 70%;
            left: -15%;
            top: 10%;
        }
    }
   
}