body{
    height: 100%;
    width: 100%;
}

.custom_navbar{
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0, 0, 0, .8));
    z-index: 1;
}

section{
    height: 100vh;
}

.section_1{
    background-image: url('../assets/homepage-sky.svg');
    background-repeat: no-repeat;
    background-size: 115%;
    position: relative;
}
section:nth-child(2) {
    background: lightblue;
  }
  section:nth-child(3) {
    background: lightgreen;
  }
  section:nth-child(4) {
    background: purple;
  }
  section:nth-child(5) {
    background: red;
  }
  section:nth-child(6) {
    background: yellow;
  }

li > a {
    color: white !important;
    font-size: 25px;
    font-weight: 400;
}

li > button {
    color: black !important;
 
    .btn_font {
        font-size: 25px;
        font-weight: 400;
    }
}


.custom_nav{
    width: 80%;
    margin-left: 20%;
    justify-content: space-around;
}

.img_grass{
    width: 115%;
    position: absolute;
    bottom: -21px;
    left: -137px;
}

.img_tree{
    height: 78%;
    position: absolute;
    top: 0;
    left: 460px;
}
